##############################
## Java
##############################
.mtj.tmp/

##############################
## Maven
##############################
target/

##############################
## Gradle
##############################
bin/
build/

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/

##############################
## Eclipse
##############################
.settings/
bin/
tmp/
.metadata
.classpath
.project

##############################
## NetBeans
##############################
nbproject/private/
build/
nbbuild/
dist/
nbdist/